/* 
body{
  background-color: rgb(255, 52, 52);
  align-items: center;
  text-align: center;
  margin: 0;
} */


p{
  /* font-size: 16px; */
  font-weight: 600;
  margin: auto;
  
}

.link{
  text-decoration: none;
  color: black;
}


