.comment {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 15px;
}


.comment p {
margin: 5px 0;
}

.comment p:first-child {
font-weight: bold;
}

.commentField{
    padding: 0.5rem;
}

@media screen and (max-width: 600px) {
    .comment {
        overflow:auto;
        font-size: smaller;
    }
}
    
