.navBar{
    background-color: rgb(228, 240, 255);
    display: flex;
    margin-left: 30%;

    padding-bottom:  10px;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 40%;
    z-index: 1;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .navBar{
        margin-left: 0;
        width: 100%;
    }

  }

.navBarButton{
    text-decoration: none;
    color: rgb(0, 149, 255);
    font-size: 1.3em;
}
.icon{
    font-size: 1.3em;
    color: rgb(0, 149, 255);
}
.navBarButton:hover{
    color: gray;
}
.navBarButton.active{
    color: gray;
}

link{
    text-decoration: none;
}
Link{
    text-decoration: none;
    color: red;
}

