.navBar{
    display: flex;
    margin-left: 10%;
    background-color: white;
    padding-bottom:  10px;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 80%;
    z-index: 1;
    
}

.navBarButton{
    text-decoration: none;
    color: rgb(0, 149, 255);
    font-size: 1.3em;
}
.icon{
    font-size: 1.3em;
    color: rgb(0, 149, 255);
}
.navBarButton:hover{
    color: gray;
}
.navBarButton.active{
    color: gray;
}

link{
    text-decoration: none;
}
Link{
    text-decoration: none;
    color: red;
}

