.store{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    color: rgb(23, 23, 28);
    background-color: #e6e6e6;
    text-align: center;
    border-radius: 10px;
    display: block;

    align-items: center;
    display: relative;
}

.storeName{
    font-size: 1.4em;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 10px;
}

@media screen and (max-width: 600px){
    .store{
        width: 100px;
        height: 100px;
    }
    .storeName{
        font-size: 0.9em;
        font-weight: 700;
    }
}
    